VITE_SUPABASE_URL=https://svmyprhyfssjdfhclwfh.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2bXlwcmh5ZnNzamRmaGNsd2ZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2ODg2NTksImV4cCI6MjEwMTI2NDY1OX0.kfoyeBaeEB2z882m6NR5YVMmNuE61smWMGc-v-mNZfs
